
// For Display and Heading
$font-family-heading: Proxima Nova;
$font-family-body: Proxima Nova;
// Commonly used for subheaders.
$font-size-large: 20px;
// The most common and legible font size. Great for large amounts of text, button, links and even subheaders when combined with a bolder weight.
$font-size-regular: 17px;
$font-size-desktop-tiny: 12px;
$font-size-desktop-large: 19px;
// Use sparingly. Good for captions, combine with fontWeightBold for legibility.
$font-size-tiny: 12px;
$font-size-desktop-regular: 16px;
// Use sparingly. Display should only be used for yelling at our users.
$font-size-display: 48px;
$font-size-desktop-display: 48px;
$font-size-desktop-huge: 24px;
// Commonly used for secondary text. Great for captions, dense areas and in combination with colorTextLight.
$font-size-small: 15px;
$font-size-desktop-header: 32px;
$font-size-desktop-small: 14px;
// Use sparingly. Interfaces with multiple header levels could use this in combination with a bold weight.
$font-size-huge: 24px;
// Commonly used. Most of the time there should only be one header on a page. On iOS the header can scale to 80% to fit the text on one line. Use only with fontWeightHeader.
$font-size-header: 32px;
// Default weight for all text.
$font-weight-regular: 400;
// Recommended weight for emphasizing inline text, links, subheaders, etc.
$font-weight-semibold: 600;
// Recommended weight for fontSizeHeader.
$font-weight-bold: 700;
$line-height-large: 28px;
$line-height-desktop-tiny: 16px;
$line-height-desktop-display: 48px;
$line-height-regular: 24px;
$line-height-desktop-small: 20px;
$line-height-huge: 32px;
$line-height-display: 48px;
$line-height-header: 36px;
$line-height-small: 20px;
$line-height-desktop-huge: 32px;
$line-height-desktop-header: 36px;
$line-height-desktop-large: 28px;
$line-height-desktop-regular: 24px;
$line-height-tiny: 16px;
$color-success: #40af53;
$color-divider-on-light: #d6d9e2;
$color-error: #ec1a38;
// Regular text on a dark background.
$color-text-on-dark: #ffffff;
// Alternative slightly darker background for UI sections.
$color-background-light: #f4f7f9;
// Primary button background, Link color
$color-brand01: #23cfb9;
// Accent color
$color-brand02: #3b39da;
$color-danger: #ff6364;
// Light text. Lowest contrast ratio in navy on colorNavy10.
$color-text-light: #7b8194;
// Dark aka inverted background. For footers etc.
$color-background-dark: #18233e;
$color-divider-on-dark: #3d465f;
// Dark section background. Use colorUi00 for text
$color-ui90: #18233e;
$color-warning-dark: #d6461e;
// Subtle border for dark background.
$color-ui80: #3d465f;
// Plain/basic filled button, subtle border on dark background.
$color-ui70: #687085;
// Default text on White and Light backgrounds. Excellent contrast ratio!
$color-text: #18233e;
// Default background
$color-background: #ffffff;
// Border for default button.
$color-ui50: #8e93a3;
// Subtle border, disabled button background
$color-ui30: #d6d9e2;
// Disabled buttons, regular subtle border.
$color-ui20: #e6e9f0;
// Default subdued divider between sections on a white background.
$color-divider: #e6e9f0;
// Disabled buttons, regular subtle border.
$color-ui00: #ffffff;
$color-warning: #fa7c29;
// Light text. Lowest contrast ratio in navy on ui10.
$color-text-light-on-dark: #8e93a3;
// Not used yet, just an example
$color-brand01-dark: #1ba190;
$color-warning-light: #ffe7cd;
// Convenience token.
$spacing-mega: 48px;
// Convenience token.
$spacing-huge: 32px;
// e.g. grid gutters, mobile side margin, most icons should have a 24x24 container, ...
$spacing-large: 24px;
// e.g. Spacing between different items, minimym horizontal padding for buttons, ...
$spacing-regular: 16px;
// e.g. Spacing between related items,
$spacing-small: 8px;
// Use sparingly. Space between tightly related items.
$spacing-tiny: 4px;
$size-icon-width: 24px;
$size-icon-height: 24px;
// button radius
$radius-regular: 3px;
