
$font-family-display: Circuit;
$font-family-display-outline: Circuit Outline;
$font-family-text: TT Norms;
$font-size-medium: 18px;
$font-size-header-small: 28px;
$font-size-large: 20px;
$font-size-regular: 16px;
$font-size-tiny: 12px;
$font-size-mobile-display-tiny: 22px;
$font-size-mobile-display: 36px;
$font-size-desktop-display-small: 42px;
$font-size-desktop-display: 68px;
$font-size-desktop-display-tiny: 28px;
$font-size-mobile-display-small: 28px;
$font-size-small: 14px;
$font-size-desktop-display-jumbo: 100px;
$font-size-huge: 24px;
$font-size-header: 32px;
$font-size-header-large: 36px;
$font-size-mobile-display-jumbo: 54px;
// Default weight for all text.
$font-weight-regular: 400;
$font-weight-medium: 500;
// Recommended weight for Header, Display and Display Outline.
$font-weight-bold: 700;
$line-height-large: 28px;
$line-height-desktop-display: 72px;
$line-height-regular: 20px;
$line-height-desktop-display-tiny: 32px;
$line-height-mobile-display-small: 32px;
$line-height-mobile-display: 40px;
$line-height-mobile-display-tiny: 30px;
$line-height-desktop-display-small: 44px;
$line-height-huge: 32px;
$line-height-header: 36px;
$line-height-mobile-display-jumbo: 58px;
$line-height-small: 19px;
$line-height-desktop-display-jumbo: 108px;
$line-height-medium: 24px;
$line-height-header-large: 40px;
$line-height-tiny: 16px;
$line-height-header-small: 32px;
$color-green: #00af7c;
$color-gray60: #999999;
$color-success: #00af7c;
$color-gray50: #bdbdbd;
$color-divider-on-light: #e3e3e3;
$color-gray40: #d6d6d6;
// Default hairline
$color-gray30: #e7e7e7;
$color-gray20: #efefef;
$color-brand: #0055ff;
$color-red-dark: #8c2a39;
$color-orange-light: #fed6cb;
$color-error: #c91630;
// Default page background
$color-gray10: #f7f7f7;
$color-text-on-dark: #ffffff;
$color-background-light: #f7f7f7;
$color-brand01: #0055ff;
$color-white: #ffffff;
$color-brand02: #0055ff;
$color-danger: #c91630;
$color-text-light: #7f7f7f;
$color-background-dark: #333333;
$color-orange-dark: #9d432a;
$color-red-light: #ffb7c2;
$color-divider-on-dark: #555555;
$color-yellow-dark: #9e8f2e;
$color-red: #c91630;
// use with black
$opacity-darker: 0.15;
$color-ui90: #333333;
$color-ui80: #555555;
$color-brand-live: #d83945;
$color-ui70: #f7f7f7;
$color-text: #333333;
$color-background: #ffffff;
$color-brand01-light: #46a0ff;
$color-orange: #fa5b30;
$color-brand-light: #46a0ff;
$color-ui50: #999999;
$color-ui30: #bbbbbb;
$color-ui20: #e3e3e3;
$color-green-dark: #007050;
$color-ui10: #f7f7f7;
$color-divider: #e3e3e3;
$color-green-light: #99dfcb;
$color-yellow: #eec200;
$color-warning: #fa5b30;
$color-brand-dark: #004488;
$color-text-light-on-dark: #999999;
$color-brand01-dark: #004488;
// Primary text
$color-gray90: #333333;
$color-gray80: #555555;
$color-yellow-light: #fce172;
// Secondary text
$color-gray70: #7f7f7f;
// Convenience token.
$spacing-mega: 48px;
// Convenience token.
$spacing-huge: 32px;
// e.g. grid gutters, mobile side margin, most icons should have a 24x24 container, ...
$spacing-large: 24px;
// e.g. Spacing between different items, minimym horizontal padding for buttons, ...
$spacing-regular: 16px;
// e.g. Spacing between related items,
$spacing-small: 8px;
// Use sparingly. Space between tightly related items.
$spacing-tiny: 4px;
$size-icon-width: 24px;
$size-icon-height: 24px;
// button radius
$radius-regular: 3px;
