<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1,user-scalable=0">
    <title>ClassPass Design Foundation</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | relative_url }}" />
  </head>
  <body>
  <div class="App">
    <div class="guide-body">
      <main class="guide-content">
        {{ content }}
        <a href="{{ site.github.repository_url }}/blob/master/{{page.path}}">Edit this page</a>
      </main>
      <nav class="guide-navigation">
        <ul>
          <li><a href="{{ site.baseurl }}/" class="guide-navigation-title">Foundation</a></li>
          <li class="guide-navigation-category">Library</li>
          <li><a href="{{ site.baseurl }}{% link color.md %}">Color</a></li>
          <li><a href="{{ site.baseurl }}{% link typography.md %}">Typography</a></li>
          <li><a href="/layout">Layout</a></li>
          <li><a href="{{ site.baseurl }}{% link icons.md %}">Icons</a></li>
          <li class="guide-navigation-category">Examples</li>
          <li><a href="/detail-example">Detail example</a></li>
          <li><a href="/listing-example">List example</a></li>
        </ul>
      </nav>
    </div>
  </div>
</body>
</html>
